.container {
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}

ul {
  list-style-type: none;
  margin: 1rem;
}

.ipBox {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.75rem;

  &,
  input {
    cursor: pointer;
  }
}

.ipLabel {
  font-weight: 500;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    padding-top: 2rem;
  }
}
